.top-container{
    position:fixed;
    top:0;
    z-index:1;
    width:100%;
    text-align: center;
    background-color: aqua;
    color: white;
}
.scroll-progress-tracking-container{
    width: 100%;
    height: 10px;
    background: #aaf900;
}
.current-progress-bar{
    width: 0%;
    height: 10px;
    background: #8b02b5;
    border-top-right-radius:15px ;
    border-bottom-right-radius: 15px;
}
.scroll-indicator{
    text-align: center;
}
.container{
    margin-top: 100px;
}